<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (success == false) { %>
        <h1>No categories exist</h1>
    <% } else{ %>
        <% Category.forEach(cat => { %>
            <%= cat.Name %>
            <%= cat.Qtd_items %>
            <%= cat.image_id %>
            <form action="/Categories/Edit/<%= cat.ID_Category%>" method="post">
                <input type="submit" value="Edit">
            </form>
            <form id="submit"  class="submit-form" action="/Categories/Delete/<%= cat.ID_Category %>?_method=DELETE" method="post">
                <input type="submit" value="Remove Category">
            </form>
            <br>
        <% }) %> 
    <% } %>    
</body>
<script>
    // Get form element
    const forms  = document.querySelectorAll('.submit-form');
    
    // Handle form submission
    forms.forEach(form => {
      form.addEventListener('submit', function (e) {
        e.preventDefault();  // Prevent default form submission

        // Create a FormData object from the form
        const formData = new FormData(form);

        // Send AJAX request to the server
        fetch('categories/submit', {
          method: 'POST',
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          // Show confirmation dialog
          const userConfirmed = window.confirm(data.message);

          if (userConfirmed) {
            form.submit()
          } else {
            
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      });
    });
  </script>
</html>